/* General Styling */
body {
  font-family: 'Arial', sans-serif;
  color: #333;
  line-height: 1.6;
}
/* Footer */
footer {
  background-color: rgb(180, 39, 62);
  color: #f8f9fa;
  padding: 20px 15px;
}

footer p {
  margin: 0;
  font-size:25px;
}

